{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="{% static 'modelo/global.css' %}" type="text/css" rel="stylesheet">

    <title>StorIA</title>
  </head>
  <body>

    <!--Começo Header-->
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid row">
        <div class="col-2 centralize">
          <a class="navbar-brand" href="{% url 'index' %}">
              <img src="https://github.com/TailUFPB.png" alt="" width="120" height="98" class="d-inline-block align-text-top">          
          </a>
        </div>
        
        <div class="col-1">
          <a class="navbar-brand" href="{% url 'members' %}">
              <span class="d-inline-block align-text-top">Membros</span>
          </a>
        </div>
        <div class="col-1 centralize">
          <a class="navbar-brand" href="https://aria.ci.ufpb.br/tail/">
              <span class="d-inline-block align-text-top">TAIL</span>
          </a>
        </div>
        <div class="col-1 centralize">
          <a class="navbar-brand" href="{% url 'social'%}">
              <span class="d-inline-block align-text-top">Redes Sociais</span>
          </a>
        </div>
        
        <div class="col centralize">
            <h1 ><a href="{% url 'index' %}">StorIA</a> </h1> <br>
        </div>
        <div class="col-1 centralize">
          <a class="navbar-brand" href="{% url 'storias' %}">
              <span class="d-inline-block align-text-top">Lista de Storias</span>
          </a>
        </div>
        <div class="col-2 centralize">
          <a class="navbar-brand" href="{% url 'storiaspage' %}">
              <span class="d-inline-block align-text-top">Outra Lista de Storias</span>
          </a>

        </div>

        <div class="col">

        </div>

  </nav>     
    <!--Fim Header-->
    <br>


    <!--Começo Corpo-->

    <div class="row centralize no-marginLR">
      <div class="col centralize">
        <h2>StorIAs</h2>
      </div>
    </div>
    <br> <hr> <br>

    <div class="row px-2 no-marginLR">
        <div class="col">
          {% for story in records %}
              ID: {{ story.id }}
              <br>
              Texto: {{ story.example }}
          {% endfor %}
          
          {% if records.has_other_pages %}
            <ul class="pagination">
              {% if records.has_previous %}
                <li><a href="?page={{ records.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in records.paginator.page_range %}
                {% if records.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if records.has_next %}
                <li><a href="?page={{ records.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  </body>
</html>